
CitedCorpora/TEC/Jan9-2012-tweets-clean.txt.zip
CitedCorpora/TEC/Jan9-2012-tweets-clean.txt
CitedCorpora/TEC/__MACOSX/._Jan9-2012-tweets-clean.txt
CitedCorpora/tales-emotion/Potter167All4labsagree.txt
CitedCorpora/tales-emotion/Potter/tales.txt
CitedCorpora/tales-emotion/Potter/sent/the_tale_of_two_bad_mice.sent.okpuncs
